@import url('common.css');

.kv .kv--title {
   height: 790px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.kv--title__cta {
   padding: 10px 15px;
   border: 1px solid #fff;
   border-radius: 100px;
}

.content--title h3 {
   margin-bottom: 60px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content--title .line::before {
   content: '';
   width: 60px;
   height: 1px;
   background-color: #000;
   position: absolute;
   bottom: -20px;
}

.kvSlider-bg1 {
   background-image: url(../images/banner1.jpg);
   background-size: cover;
   background-position: center;
}
.kvSlider-bg2 {
   background-image: url(../images/banner4.jpg);
   background-size: cover;
   background-position: center;
}
.kvSlider-bg3 {
   background-image: url(../images/banner3.jpg);
   background-size: cover;
   background-position: center;
}
.kvSlider-bg4 {
   background-image: url(../images/banner2.jpg);
   background-size: cover;
   background-position: center;
}

.pointSection {
   background: url('../images/pointbg.png');
   background-size: cover;
   background-position: bottom right;
   padding: 100px 0;
   color: #fff;
}

.bg--kick h4 {
   font-weight: bold;
}

.cta--btn {
   padding: 5px 10px;
   color: #fff;
   font-weight: 500;
   border: 1px solid #fff;
   border-radius: 100px;
   display: inline-block;
}

.hobby--images img {
   width: 100%;
   height: 250px;
   object-fit: cover;
}

.hobby--text p {
   overflow: hidden;
   display: -webkit-box;
   text-overflow: ellipsis;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   /* webkit / ms / o */
}

.hobby--content {
   border: 1px solid #eee;
   padding: 0 0 20px 0;
}

.hobby--text {
   padding: 0 20px;
}

.service img {
   width: 30%;
}
